.progressbar-container {
    height: 40;
    width: 80%;
    background-color: grey;
    border-radius: 50;
    margin: 50;
  }
  
  .percentage-style {
    color: "white";
    font-weight: bold;
    padding: 5;
  }
  